{% extends 'base.html' %}
{% load static %}
{% block title %}
    Обо мне
{% endblock title %}
{% block content %}
<div class="bg-light p-5 m-5 rounded">
    <img src="{% static 'images/papich.jpg' %}" class="img-thumbnail" alt="..."
         width="25%" align="left" hspace="15">
    <h3 align="center">Виталий Папаня</h3>
    <p align="justify">EvilArthas (Папич, Arthas, Величайший) – стример платфортмы Twitch, получивший популярность
        из-за высокого уровня игры, агрессивного, а временами неадекватного поведения и необычного лексикона.</p>
    <p align="justify">
        Настоящее имя Папича – Виталий Цаль (по другим данным – Громяко). В данный момент ему 27 лет,
        проживает в украинском городе Винница. По собственным словам, Виталий не закончил школу, проучивщись
        всего восемь классов. В 2003 году увлёкся игрой в Warcraft III: The Frozen Throne и переключился на
        карту-игровой режим в 2005 году.
    </p>
    <p align="justify">
        Согласно утверждениям, в DotA будущий стример достиг значительных успехов, попав в топ-3
        таблицы лидеров платформы iCCup. С 2007 увлекается игрой в покер, где, по собственным словам,
        удавалось зарабатывать до 300 долларов в месяц. С конца 2012 года, после запуска открытия торговой
        площадки Steam, Виталий подрабатывал перепродажей игровых вещей в DotA 2. Стримить EvilArthas начал
        в 2015 году и до этого как игрок широкой известности не имел.
    </p>
    <p align="justify">
        Виталий называл себя аскетом и говорил, что из дома выходит только в магазин: по его словам,
        такой образ жизни он ведёт с момента, как перестал ходить в школу. Одной из излюбленных тем для
        мемов и шуток его фанатов является предположение, что Виталий никогда не состоял в серьёзных отношениях.
    </p>
    <p align="justify">
        Несколько раз предпринимались попытки деанона стримера с вычислением телефона и адреса,
        но успехом они не увенчались; тем не менее один из подписчиков EvilArthas встретил его в торговом
        центре и записал видео. Фраза «***** ты здоровый», произнесённая в видео, стала локальным мемом.
    </p>
</div>
{% endblock content %}