<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Главная</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'articles:articles' %}">Статьи</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'articles:about' %}">Обо мне</a>
        </li>
      </ul>
      <form action="{% url 'articles:search' %}" class="d-flex" method="get">
        <input class="form-control me-2" name="search" type="text" placeholder="Найти статью" aria-label="Search">
        <button type="submit" class="btn btn-outline-primary" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>
{% block content %}

{% endblock content %}
</body>
</html>